{% set pageId = "page-edit-profil" %}
{% extends 'base.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block body %}


    <div class="example-wrapper">
        {# <span><a href="{{ path('profil_chien', {'id': chien.id}) }}"><i class="bi bi-arrow-left-circle"></i> Retour</a></span> #}
        <div class="containerRegister bg-light shadow my-3 p-3">
            <h1 class="title-edit-chien">Modification du profil chien</h1>

            {{ include('includes/chien_form.html.twig') }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('requiredStar') }}
{% endblock %}
