{% set pageId = "page-chiens-ajouter" %}
{% extends 'base.html.twig' %}

{% block title %}Handi'Chiens - AJOUTER UN CHIEN{% endblock %}

{% block body %}
    <p><a href="{{ path('chiens') }}" ><i class="bi bi-arrow-left-circle"></i> Retour</a></p>

    {% include "includes/chien_new.html.twig" %}
{% endblock %}