{% extends 'base.html.twig' %}

{% block title %}Handi'Chiens - Accueil{% endblock %}

{% block body %}

<div class="example-wrapper">

    <h1>HANDI'CHIENS</h1>
    <h2>Bienvenue sur le système de réservation des chiens Handi’Chiens.</h2>

    <div>
        <a href="{{ path('app_login') }}">Se connecter</a>

        <p><a href="{{ path('register') }}">S'inscrire</a></p>
    </div>
</div>

{% endblock %}
