{% set pageId = "page-profil-chien" %}
{% extends 'base.html.twig' %}

{% block title %}Handi'Chiens - LE PROFIL DU CHIEN{% endblock %}

{% block body %}
<body>
    <div class="container">
        <div class="row">
            <img src="{{ asset('images/chien.jpg') }}" alt="" class="dog-profile">
        </div>
    </div>
</body>
{% endblock %}
