{% set pageId = "page-profil-chien" %}
{% extends 'base.html.twig' %}

{% block title %}Handi'Chiens - LE PROFIL DU CHIEN{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <img src="{{ chien.img }}" alt="" class="dog-profile">
        <h2><strong>Pépite</strong></h2>
    </div>
    <div class="resume-title">
        <h3>Votre chien en quelques mots</h3>
    </div>
    <div class="resume-chien">
        <h5>Le chien est beau</h5>
    </div>

    <div class="btn-modifier">
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDUCATEUR')  %}
            <a href="/modifier_profil_chien" class="btn btn-primary mx-2 my-sm-0">Modifier</a>
            <a href="/" class="btn btn-danger mx-2 my-sm-0">Supprimer</a>
        {% endif %}
    </div>
</div>
{% endblock %}
