<form method="post" action="{{ path('booking_delete', {'id': booking.id}) }}" onsubmit="return confirm('Voulez vous supprimer cet élement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
    <button class="btn btn-danger btn-lg">Supprimer</button>
</form>
