{{ form_start(formPlanning) }}
    {{ form_widget(formPlanning) }}
<span class="d-flex flex-row justify-content-center">
    <button class="btn btn-primary btn-lg">{{ button_label|default('Enregistrer') }}</button>
</span>
{{ form_end(formPlanning) }}
