{% set pageId = "page-planning-modification" %}
{% extends 'base.html.twig' %}

{% block title %}Modifier enregistrement{% endblock %}

{% block body %}



    <div class="example-wrapper">

        <span>
            <a href="{{ path('booking_index') }}"><i class="bi bi-arrow-left-circle"></i> Retour à la liste</a>
        </span>
        <div class="bg-light shadow my-3 p-3">
            <h1 class="text-center text-primary">Modifier enregistrement</h1>


                {{ include('booking/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

                {#{{ include('booking/_delete_form.html.twig') }}#}


        </div>
    </div>
{% endblock %}
