{% set pageId = "page-planning-nouveau" %}
{% extends 'base.html.twig' %}

{% block title %}Nouvel enregistrement{% endblock %}

{% block body %}
    <h1>Ajouter une période de disponibilité</h1>



    <p><i class="bi-info-circle-fill"></i> Si aucune date n'est sélectionnée comme date de fin, la période sera considérée pour la journée entière</p>

    {{ include('booking/_form.html.twig') }}

    <a class="btn btn-primary my-3" href="{{ path('booking_index') }}">Retour à ligne</a>
{% endblock %}
