{% set pageId = "page-planning-nouveau" %}
{% extends 'base.html.twig' %}

{% block title %}Nouvel enregistrement{% endblock %}

{% block body %}
    <h1>Ajouter un enregistrement</h1>

    {{ include('booking/_form.html.twig') }}

    <a class="btn btn-primary my-3" href="{{ path('booking_index') }}">Retour à ligne</a>
{% endblock %}
