@import "~bootstrap/scss/bootstrap";

@import "~bootstrap/scss/functions";

// Default variable overrides
$body-bg: #E5E5E5;

$primary: #5EB6DE;

$danger: #D41B1B;



// Required
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

//Custom code
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
body{
font-family: 'Raleway', sans-serif;
}

.navbar {
    background-color: rgba(79,79,79,0.9);

    .navbar-brand {
        margin-left: 2rem;
    }

    .navbar-nav {
        margin-left: 3rem;
    }

    .nav-link {
        color: white;

        &:hover {
            color: #5EB6DE;
        }
    }

    .btn {
        margin-right: 2rem;
        border-radius: .3rem;
        background-color: #5EB6DE;

        &:hover {
            color: #5EB6DE;
            background-color: white;
        }
    }
}


//Override page bootstrap
.btn-primary {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
}

.btn-primary:hover {
  color: $primary;
  background-color: #fff;
  border-color: $primary;
}

.btn-danger {
  color: #fff;
  background-color: $danger;
  border-color: $danger;
}

.btn-danger:hover {
  color: $danger;
  background-color: #fff;
  border-color: $danger;
}

.example-wrapper {
  margin: 1em auto;
  max-width: 800px;
  width: 95%; }

//Couleur de texte
.text-color-title{
  color: $primary;
}