#page-accueil {
  h1 {
    font-weight: bold;
  }
  .login-signup-container {
    max-width: 790px;
    width: 100%;
    text-align: center;
    min-height: 400px;
    display: flex;
    align-content: baseline;
    align-items: center;
    margin: 50px auto;
    article{
      width: 100%;
    }
  }
  .border-left-or-top {
      position: relative;
      border-left: 1px solid #000;

  }

  @media (max-width: 768px) {
      .border-left-or-top{
        border-top: 1px solid #000;
        border-left: 0 solid transparent;
      }
  }

}