{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% set pageId = "page-erreur" %}
{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}
    <h1>{{ status_code }}</h1>
    <section>
        <div class="informations">
            <h2>Oups !</h2>
            <p>La page que vous recherchez semble introuvable.</p>
            <p>A la place, vous pouvez retournez sur votre <a href="home">page d'accueil</a>.</p>
        </div>
        <div class="image">
            <img src="{{ asset('images/chiens-erreur.png') }}">
        </div>
    </section>

{% endblock %}